<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ac.soton.coda.commandCategory"
            description="%simulateCommandDescription"
            id="ac.soton.coda.simulator2.simulateCommand"
            name="%simulateCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.coda.internal.simulator2.handlers.SimulateHandler"
            commandId="ac.soton.coda.simulator2.simulateCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ac.soton.coda.ui.simulationMenu">
         <command
               commandId="ac.soton.coda.simulator2.simulateCommand"
               label="%simulateCommandLabel"
               mnemonic="S"
               style="push"
               tooltip="%simulateCommandTooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ac.soton.coda.viewCategory"
            class="ac.soton.coda.internal.simulator2.views.ComponentsView"
            id="ac.soton.coda.simulator2.componentsView"
            name="%componentsViewName"
            restorable="true">
      </view>
      <view
            category="ac.soton.coda.viewCategory"
            class="ac.soton.coda.internal.simulator2.views.ConnectorsView"
            id="ac.soton.coda.simulator2.connectorsView"
            name="%connectorsViewName"
            restorable="true">
      </view>
      <view
            category="ac.soton.coda.viewCategory"
            class="ac.soton.coda.internal.simulator2.views.OperationsView"
            id="ac.soton.coda.simulator2.operationsView"
            name="%operationsViewName"
            restorable="true">
      </view>
      <view
            category="ac.soton.coda.viewCategory"
            class="ac.soton.coda.internal.simulator2.views.ControlView"
            id="ac.soton.coda.simulator2.controlView"
            name="%controlViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ac.soton.coda.internal.simulator2.perspectives.Sim2Perspective"
            id="ac.soton.coda.simulator2.sim2Perspective"
            name="%sim2PerspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ac.soton.coda.simulator2.sim2Perspective">
         <view
               closeable="true"
               id="ac.soton.coda.simulator2.componentsView"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ac.soton.coda.simulator2.connectorsView"
               minimized="false"
               ratio="0.33f"
               relationship="right"
               relative="ac.soton.coda.simulator2.componentsView">
         </view>
         <view
               id="de.prob2.ui.eclipse.stateinspector"
               minimized="false"
               relationship="right"
               relative="ac.soton.coda.simulator2.connectorsView">
         </view>
         <view
               id="ac.soton.coda.simulator2.controlView"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="ac.soton.coda.simulator2.operationsView"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="bottom"
               relative="ac.soton.coda.simulator2.controlView"
               visible="true">
         </view>
         <viewShortcut
               id="ac.soton.coda.simulator2.componentsView">
         </viewShortcut>
         <viewShortcut
               id="ac.soton.coda.simulator2.connectorsView">
         </viewShortcut>
         <viewShortcut
               id="ac.soton.coda.simulator2.controlView">
         </viewShortcut>
         <viewShortcut
               id="ac.soton.coda.simulator2.operationsView">
         </viewShortcut>
         <viewShortcut
               id="fr.systerel.explorer.navigator.view">
         </viewShortcut>
         <viewShortcut
               id="de.prob2.ui.eclipse.currenttrace">
         </viewShortcut>
         <viewShortcut
               id="de.prob2.ui.eclipse.stateinspector">
         </viewShortcut>
         <viewShortcut
               id="de.prob2.ui.eclipse.animations">
         </viewShortcut>
         <view
               id="de.prob2.ui.eclipse.animations"
               minimized="false"
               ratio="0.8f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="fr.systerel.explorer.navigator.view"
               minimized="false"
               ratio="0.8f"
               relationship="stack"
               relative="de.prob2.ui.eclipse.animations"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
